<app-header></app-header>

<h2>{{title}}</h2>

<table class="table">
  <tr>
    <th>Viewing number</th>
    <th>Room number</th>
    <th>Room Type</th>
    <th>Room Price</th>
    <th>Amenities</th>
    <th>Photo</th>
    <th>Rating</th>
    <th>Check in time</th>
    <th>Check out time</th>
    <th>Select</th>
  </tr>
  <tr
    *ngFor="let room of roomDetails ; let e = even; let o = odd; let i = index"
    [ngClass]="e? 'even' : 'odd'"
  >
    <td>{{i}}</td>
    <td>{{room.roomNumber}}</td>
    <td>{{room.roomType | uppercase}}</td>
    <td>{{room.price | currency: 'SLR' }}</td>
    <td>{{room.amenities | lowercase}}</td>
    <td>{{room.photos}}</td>
    <td>{{room.rating | number: '1.1-1'}}</td>
    <td>{{room.checkinTime | date: 'short'}}</td>
    <td>{{room.checkoutTime}}</td>
    <td>
      <button [class]="'btn btn-primary'" (click)="selectRoom(room)">
        select
      </button>
    </td>

  </tr>
</table>

