.even {
  background-color: #309de7; /* light blue */
  color: #ebf8ff;               /* white text */
}

.odd {
  background-color: #f87272; /* soft red */
  color: #fff;               /* white text */
}
