<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<p>Hello from {{hotelName}}</p>
<div [hidden]="toggleMark">
  <p>Number of rooms: </p>
  <div
    [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green': 'red'}"
    [innerText]="roomCount"
  ></div>
</div>

<button (click)="toggle()">Toggle</button>


<h1>   ---  Starting directives right here  ---   </h1>

{{rooms?.availableRooms?? "No rooms"}}

<div *ngIf="rooms.availableRooms > 0 && toggleMark">

<button (click)="addRoom()">Add Room</button>

<app-rooms-list
  [roomDetails]="roomDetails"
  (roomSelected)="selectRoom($event)"
  (emmitSelectedRoomId)="updateRoom($event)"
  (emmitSelectedRoomIdForDeletion)="deleteRoom($event)"
  [title]="title"
  [thisType]="'This is a test'"
> </app-rooms-list>
<div
  *ngIf="selectedRoom"
  [innerText]="selectedRoom | json"
></div>
</div>
<!--{{roomDetails | json}}-->
<!--Commented cause it makes all the thing look ugly but mind that it works as expected-->

